<h1> Comments as Usual </h1>
<%@comments.each do |comment|%>
    <%= comment.content%>
<%end%>

<h1> New Comment </h1>
<%= form_for (Comment.new) do |f|%>
    <%debugger%>
    <%= hidden_field :comment_parent, @commentable.class, :value => @commentable.to_param%>
    <p>Comment Content<%= f.text_area :content%></p>
    <%= f.submit "Save Comment"%>
<%end%>